@model Employee_Management_App.Models.Employee

@{
    ViewData["Title"] = "Create";
}


<h4>Add New Employee</h4>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label  class="control-label">First Name</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Last Name</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Position" class="control-label"></label>
                <input asp-for="Position" class="form-control" />
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department" class="control-label"></label>
                @Html.DropDownListFor(m => m.Department,
            new SelectList(Enum.GetValues(typeof(Department))),
            "Select Department", new { @class = "form-control" })
                <span asp-validation-for="Department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Date Employed</label>
                <input asp-for="DateEmployed" class="form-control" />
                <span asp-validation-for="DateEmployed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Last Updated</label>
                <input asp-for="LastUpdated" class="form-control" />
                <span asp-validation-for="LastUpdated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><button class="btn btn-dark"><i class="fas fa-arrow-circle-left"></i> Back</button></a>
</div>
<br/>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
