@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Employee Management Application</h1>
    <p>This is a platform for recording and managing the details of employees in a firm</a>.</p>
</div>
